.main-pre-header {
  background-color: #312f30;
}

.main-pre-header-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  span {
    display: inline-block;
    padding: 6px;
    color: #999;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    img {
      display: inline-block;
      margin-right: 7px;
    }
  }
}

.main-header-about {
  background-color: white;
}

.main-header-about-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-header-about-content__logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  img {
    max-width: 100%;
  }
  span {
    max-width: 175px;
    color: #222;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
}

.main-header-about-content__call {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  span {
    max-width: 200px;
    display: inline-block;
    margin-right: 25px;
    color: #004a96;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  a {
    max-height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa800;
    background-image: linear-gradient(to top, #f8991d 0%, #ffcd07 100%);
    padding: 11px 40px;
    color: #070707;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to bottom, #f8991d 0%, #ffcd07 100%);
      text-decoration: none;
    }
  }
}

.main-header-about-content_center {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.main-content {
  padding-top: 50px;
}

.main-pre-content {
  padding-bottom: 80px;
}

.main-pre-content-nav {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #f0f0f0;
  list-style: none;
  li {
    a {
      display: block;
      padding: 12px 15px;
      color: #222;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #f8991d;
        text-decoration: none;
      }
    }
  }
}

.main-content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: #222;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  span {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.home-features {
  padding-bottom: 25px;
}

.home-features-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.home-features-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  img {
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
  }
  span {
    display: block;
    max-width: 305px;
    color: #222;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

.home-why {
  padding-top: 70px;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-why-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

.home-why-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  img {
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
  }
  span {
    display: block;
    max-width: 230px;
    color: #222;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

.home-about {
  padding-top: 70px;
  padding-bottom: 40px;
}

.home-about-img {
  img {
    display: inline-block;
    max-width: 100%;
    margin-right: 20px;
  }
}

.home-about-text {
  color: #222;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
    li:before {
      color: #00509f;
      content: "•";
      padding-right: 10px;
    }
  }
}

.home-recall {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-recall-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  input {
    display: inline-block;
    min-width: 300px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 16px 12px;
    background-color: white;
    border: 1px solid #e9e9e9;
    color: #070707;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  input[type='submit'] {
    background-color: #ffa800;
    background-image: linear-gradient(to top, #f8991d 0%, #ffcd07 100%);
    padding: 16px auto;
    color: #070707;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to bottom, #f8991d 0%, #ffcd07 100%);
      text-decoration: none;
    }
  }
}

.main-content-title_blue {
  color: #004a96;
}

.main-content-title_another {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  color: #222;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.main-pre-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  background-color: #454444;
  list-style: none;
  text-align: center;
  li {
    a {
      display: inline-block;
      padding: 12px 40px;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      text-transform: uppercase;
      color: white;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #f8991d;
        text-decoration: none;
      }
    }
  }
}

.main-footer {
  background-color: #4c4c4c;
  img {
    max-width: 100%;
  }
}

.main-footer-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-footer-content__about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: white;
  span {
    display: inline-block;
    max-width: 175px;
    color: #fafafa;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
  p {
    display: inline-block;
    margin-bottom: 0;
    span {
      color: #f8991d;
    }
  }
}

.main-footer-content-about {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer-content-about__info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 130px;
  margin-left: 50px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  text-align: left;
  span {
    font-family: "Open Sans";
    font-size: 16px;
    color: #f8991d;
    font-weight: 400;
    line-height: 24px;
  }
}

.main-creators {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3a3a3a;
  transition: all 0.2s ease-out;
  img {
    display: inline-block;
    margin-right: 10px;
    transition: all 0.4s ease-out;
  }
  a {
    display: inline-block;
    max-width: 230px;
    color: white;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #f8991d;
      text-decoration: underline;
    }
  }
  &:hover {
    background-color: #333333;
    img {
      transform: rotate(360deg);
    }
  }
}

.main-breadcrump {
  display: block;
  margin-bottom: 30px;
  color: silver;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
  a {
    color: silver;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    &:hover {
      color: #f8991d;
      text-decoration: underline;
    }
  }
}

.about-article {
  padding-bottom: 30px;
  color: #222;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  p {
    display: block;
    margin: 10px 0;
  }
  ul {
    display: block;
    margin-bottom: 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 15px;
    text-align: center;
    color: #222;
    font-family: "Open Sans";
    font-weight: 400;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
}

.main-info-text {
  display: block;
  margin: 30px 0 30px 80px;
  padding: 12px;
  border-left: 5px solid #00509f;
  color: #222;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.main-pagination {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  list-style: none;
  li {
    a {
      display: inline-block;
      margin-left: 4px;
      margin-right: 4px;
      padding: 6px 14px;
      color: #222;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #f8991d;
        border-radius: 100px;
        text-decoration: none;
      }
    }
  }
}

.main-pagination_arrow {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ffa800;
  background-image: linear-gradient(to top, #f8991d 0%, #ffcd07 100%);
  color: #070707;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.main-pagination_active {
  background-color: #f8991d;
  border-radius: 100px;
}

.main-sort {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.main-sort__count {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  color: silver;
  a {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: #f8991d;
    &:hover {
      color: #222;
      text-decoration: none;
    }
  }
}

.main-sort__drop {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  color: silver;
  select {
    border: none;
    color: #f8991d;
    outline: none;
    option {
      background-color: #f0f0f0;
      box-shadow: 0 0 3px #ddd;
      color: silver;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

.catalog-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.catalog-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 260px;
  margin: 0 15px 30px;
  padding: 10px;
  background-color: #f4f4f4;
  color: #222;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    background-color: #ddd;
    text-decoration: none;
  }
  img {
    display: bloc;
    width: 100%;
    height: 215px;
    object-fit: contain;
  }
  p {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 70px;
    overflow: hidden;
  }
  span {
    display: block;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    color: #acacac;
    line-height: 24px;
  }
  a {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #ffa800;
    background-image: linear-gradient(to top, #f8991d 0%, #ffcd07 100%);
    padding: 10px 50px;
    color: #070707;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to bottom, #f8991d 0%, #ffcd07 100%);
      text-decoration: none;
    }
  }
}

.catalog-card_price {
  margin-top: 10px;
  color: #00509f !important;
  line-height: 30px;
}

.news-cards {}

.news-card {
  display: flex;
  align-items: center;
  margin: 0 auto 20px;
  max-width: 1000px;
  padding: 30px;
  background-color: #f4f4f4;
  .news-card__description {
    padding-left: 40px;
  }
  .news-card__img {
    min-width: 40%;
    max-width: 380px;
  }
  img {
    max-width: 100%;
    object-fit: cover;
  }
  span {
    display: block;
    margin-bottom: 25px;
    color: #222;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
  }
  p {
    display: block;
    margin-bottom: 50px;
    color: #222;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  a {
    max-height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa800;
    background-image: linear-gradient(to top, #f8991d 0%, #ffcd07 100%);
    padding: 11px 40px;
    color: #070707;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to bottom, #f8991d 0%, #ffcd07 100%);
      text-decoration: none;
    }
  }
}

.reviews-prep {
  color: #262b31;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.reviews-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 30px;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

.reviews-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  max-width: 295px;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
  span {
    display: block;
    margin-bottom: 25px;
    color: #222;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  img {
    display: block;
    width: 260px;
    height: 345px;
    object-fit: cover;
  }
}

.objects-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.objects-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  margin-bottom: 30px;
  padding: 20px 12px;
  background-color: #f4f4f4;
  text-align: center;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    background-color: #ddd;
    text-decoration: none;
  }
  span {
    display: block;
    height: 60px;
    overflow: hidden;
    margin-bottom: 15px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
  img {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 215px;
    object-fit: cover;
  }
  a {
    max-height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa800;
    background-image: linear-gradient(to top, #f8991d 0%, #ffcd07 100%);
    padding: 11px 40px;
    color: #070707;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to bottom, #f8991d 0%, #ffcd07 100%);
      text-decoration: none;
    }
  }
}

.contacts-about {
  height: 300px;
  padding: 30px 15px;
  background-color: #f0f0f0;
  color: #222;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
  a {
    max-width: 200px;
    max-height: 36px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #ffa800;
    background-image: linear-gradient(to top, #f8991d 0%, #ffcd07 100%);
    padding: 11px 40px;
    color: #070707;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to bottom, #f8991d 0%, #ffcd07 100%);
      text-decoration: none;
    }
  }
  span {
    display: block;
    max-width: 200px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #004a96;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
  }
}

.contacts-about__info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  img {
    display: inline-block;
    margin-right: 10px;
  }
}

.object-description {
  padding-top: 50px;
  color: #222;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  a {
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa800;
    background-image: linear-gradient(to top, #f8991d 0%, #ffcd07 100%);
    padding: 11px 40px;
    color: #070707;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to bottom, #f8991d 0%, #ffcd07 100%);
      text-decoration: none;
    }
  }
}

.object-description__title {
  display: block;
  margin-bottom: 30px;
  color: #222;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.sync_zoom {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 30px;
  width: 50px !important;
  height: 50px !important;
  object-fit: contain !important;
}

.object-info {
  padding-top: 15px;
  padding-left: 30px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
    li:before {
      color: #00509f;
      content: "•";
      padding-right: 10px;
    }
  }
  span {
    color: #222;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 24px;
    font-size: 24px;
  }
  color: #222;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  div {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.product-info {
  padding-top: 15px;
  padding-left: 30px;
  color: #222;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  a {
    max-height: 36px;
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa800;
    background-image: linear-gradient(to top, #f8991d 0%, #ffcd07 100%);
    padding: 11px 40px;
    color: #070707;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-image: linear-gradient(to bottom, #f8991d 0%, #ffcd07 100%);
      text-decoration: none;
    }
  }
}

.product-info__title {
  display: block;
  margin-bottom: 15px;
  color: #222;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.skew_fix {
  transform: skewX(0deg) !important;
}

.item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 340px;
  max-width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 10px solid #f4f4f4;
  img {
    display: block;
    max-width: 100%;
    object-fit: contain;
  }
}

.item-buy {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
  a {
    margin: 0;
    padding: 11px 60px;
  }
  span {
    display: inline-block;
    margin-right: 30px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    color: #acacac;
  }
}

.item-buy_price {
  color: #00509f !important;
}