@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .navbar-default .navbar-nav>li>a {
    font-size: 16px;
    line-height: 1;
    padding: 10px 24px;
  }
}

@media (max-width: 768px) {
  .hide_xs {
    display: none;
  }
  .main-pre-header-info {
    flex-flow: column wrap;
    span {
      padding: 0;
      font-size: 12px;
      line-height: 20px;
    }
  }
  .main-header-about-content {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  .main-header-about-content__logo {
    justify-content: center;
    align-items: center;
    span {
      display: none;
    }
  }
  .main-header-about-content {
    img {
      margin-right: 10px;
    }
  }
  .main-header-about-content__call {
    justify-content: center;
    align-items: center;
    text-align: center;
    span {
      width: 200px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 10px;
      font-size: 20px;
      overflow: hidden;
    }
  }
  .navbar-nav {
    flex-flow: column wrap;
    li {
      display: block;
      border: none;
      a {
        padding: 10px auto;
      }
    }
  }
  .navbar-default .navbar-nav>li>a {
    padding: 10px 30px;
  }
  .main-content {
    padding-top: 20px;
  }
  .main-pre-content-nav {
    margin-bottom: 20px;
  }
  #myCarousel {
    margin: 0;
  }
  .main-content-title {
    margin-bottom: 20px;
    span {
      font-size: 24px;
      line-height: 1;
      margin: 0;
    }
  }
  .main-pre-content {
    padding-bottom: 20px;
  }
  .home-features-cards {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .home-features-card {
    margin-bottom: 15px;
    img {
      margin-bottom: 5px;
    }
  }
  .home-why {
    padding: 20px;
  }
  .home-why-card {
    margin: 10px;
    img {
      margin-bottom: 5px;
    }
  }
  .home-about {
    padding: 20px;
  }
  .main-content-title_another {
    margin-bottom: 20px;
    text-align: center;
    span {
      font-size: 24px;
    }
  }
  .home-recall {
    padding: 20px;
  }
  .main-pre-footer {
    margin-top: 20px;
    flex-flow: column wrap;
    li {
      a {
        padding: 10px;
        line-height: 1;
      }
    }
  }
  .main-pre-footer {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .main-footer-content-about {
    span {
      display: none;
    }
    p {
      display: none;
    }
  }
  .main-footer-content-about__info {
    display: none;
  }
  .carousel-caption__title {
    span {
      font-size: 24px;
      line-height: 1;
    }
  }
  .carousel-caption__info {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
  }
  .carousel-control {
    img {
      max-width: 95%;
    }
  }
  .main-breadcrump {
    margin: 0;
    padding: 15px;
  }
  .about-article {
    .row {
      padding: 15px;
    }
  }
  .main-sort {
    justify-content: space-around;
  }
  .catalog-cards {
    justify-content: space-around;
  }
  .news-card {
    flex-flow: column wrap;
    padding: 15px;
  }
  .news-card__img {
    margin-bottom: 10px;
  }
  .news-card__description {
    padding: 0;
    p {
      margin-bottom: 20px;
    }
  }
  .reviews-prep {
    .row {
      padding: 15px;
    }
  }
  .objects-cards {
    justify-content: space-around;
  }
  .main-pre-header-info {
    text-align: center;
  }
  .dropdown-submenu>a:after {
    display: none;
  }
  .main-content-title span {
    line-height: 1;
    text-align: center;
  }
  .item-img {
    width: 100%;
  }
  .item-buy {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    a {
      margin-top: 10px;
    }
    span {
      margin: 0;
    }
  }
  .product-info {
    padding: 15px;
  }
  .dropdown-submenu > .dropdown-menu {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
}