.navbar-default {
  background-color: #00509f;
  border: none;
  box-shadow: none;
  .dropdown-menu {
    transform: skewX(30deg);
  }
}

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar-nav>li {
  display: inline-block;
  background-color: #00509f;
  ;
  transform: skewX(-30deg);
  border-left: 1px solid #076ad1;
  border-right: 1px solid #00356b;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    background-color: #f8991d;
    color: #202020;
    text-decoration: none;
    a {
      color: #202020;
    }
  }
}

.navbar-default .navbar-nav>li>a {
  display: block;
  padding: 14px 40px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: white;
  transition: all 0.2s ease-out;
  transform: skewX(30deg);
  &:hover,
  &:active,
  &:focus {
    color: #ffa800;
    text-decoration: none;
    color: #202020;
  }
}

#myCarousel {
  margin-left: 15px;
}

.carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
}

.carousel-control.left {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control.right {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  margin: 0;
  padding: 0;
}

.carousel-caption__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(248, 153, 29, 0.7);
  padding-left: 10%;
  padding-right: 10%;
  span {
    color: white;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
  }
  img {
    max-width: 100%;
  }
}

.carousel-caption__info {
  display: block;
  margin-left: 35%;
  margin-top: 40px;
  padding: 0 10% 0 20px;
  border-left: 5px solid #f8991d;
  color: white;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 700;
  text-align: left;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  min-height: 340px;
  object-fit: cover;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: -1px;
  background-color: #ebe8e8;
  border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: none;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

.owl-buttons {
  display: flex;
  margin-top: -60px;
  margin-left: -30px;
  margin-right: -30px;
  justify-content: space-between;
  align-items: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#sync1 .item {
  background: #f4f4f4;
  margin: 5px;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s ease-out;
  img {
    display: block;
    width: 100%;
    height: 290px;
    object-fit: cover;
    border: 10px solid #f4f4f4;
  }
  .sync_zoom {
    transition: all 0.2s ease-out;
    border: none;
  }
  &:hover {
    .sync_zoom {
      transform: scale(1.1);
    }
  }
}

#sync2 {
  padding-left: 35px;
  padding-right: 35px;
}

#sync2 .item {
  width: 80px;
  height: 60px;
  background: #f4f4f4;
  margin-top: 0px;
  border: 3px solid #e9e9e9;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-filter: brightness(50%);
  }
}

#sync2 .synced .item {
  border: 3px solid #e9e9e9;
  background: #202020;
  img {
    -webkit-filter: brightness(100%);
  }
}

.lb-data .lb-close {
  background-size: contain;
}

.sync3 .item {
  background: #f4f4f4;
  margin: 5px;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s ease-out;
  img {
    display: block;
    width: 100%;
    height: 290px;
    object-fit: cover;
  }
  .sync_zoom {
    transition: all 0.2s ease-out;
  }
  &:hover {
    .sync_zoom {
      transform: scale(1.1);
    }
  }
}

.sync4 {
  padding-left: 35px;
  padding-right: 35px;
  //border: 10px solid #e9e9e9;
}

.sync4 .item {
  width: 80px;
  height: 60px;
  background: #f4f4f4;
  margin-top: 0px;
  border: 2px solid #e9e9e9;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-filter: brightness(50%);
  }
}

.sync4 .synced .item {
  background: #202020;
  img {
    -webkit-filter: brightness(100%);
  }
}

table {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #1f1f1f;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

thead {
  background-color: #0a6093;
  border: 1px solid #d0d1d2;
  color: white;
  color: white;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}